/* Accents */
$accent-1: #FED83D; // Buttons
$accent-2: #9B51E0; // Profile button
$accent-3: #E92F2F; // Red badge on list icon

/* Overall visual */
$light-gray: #FAFBFC; // Background
$gray: #ECEFF1; // Borders

/* Text */
$dark-gray: #708598; // Links, placeholders
$dark: #050F19; // Button text